/******
CSS NORMALIZEY/RESETTY THINGS
*******/
html, body, h1, h2, h3, h4, h5, p,
a, img, ul, li, nav {
	margin: 0;
	padding: 0;
	border: 0;
	/*font-size: 100%;
	font: inherit;
*/
	vertical-align: baseline;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0; /* removed margin*/
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

.logo {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bolder;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}
.bio {
 margin-top: 1em;
 margin-left: 15%;
 margin-right: 15%;
 margin-bottom: 1em;
 font-size: 1.5em;
}

h1 {
  text-align: center;
  margin-top: 1em;
  text-decoration: underline;
}

.body {
  text-align: justify;
  margin-left: 15%;
  margin-right: 15%;
}
nav li {
  list-style-type: none;
  font-size: 1.25em;
  display: inline;
  margin-left: .25em;
}

nav ul {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
.sub {
  color: #C0C0C0;
  clear: both;
  text-transform: uppercase;
  margin-left: 10px;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

a:link {
  color: slategray;
}

a:hover {
  color: red;
}

.test {
  float: left;
  text-transform: uppercase;
  color: slategray;
  font-size: 1.25em;
}
/*
h1 {
  font-weight: normal;
}
*/
ul li {
  list-style-type: none;
  text-align: center;
  font-size: 1.25em;
}

a:active {
  text-decoration: underline;
}

.content, ol {
  width: 60%;
  margin: auto;
  margin-bottom: 1em;
}

.contact {
	clear: both;
}

body {
  margin: 1em;
}
