<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
  </head>
<body>
  <nav>
    <a href="#">Home</a>
    <a href="portfolio.html">Portfolio</a>
    <a href="#">Blog</a>
    <a href="#">About</a>
  </nav>
  {{ content }}
</body>
</html>
